<p-calendar   id="calendar"
              [(ngModel)] = "birthDate"
              [monthNavigator]="true"
              [yearNavigator]="true"
              yearRange="{{'1935:'+( minValidDate | date:'yyyy')}}"
              [maxDate]="minValidDate"
              [defaultDate]="minValidDate"
              [locale]="it" dateFormat="dd/mm/yy"
              placeholder="Data di nascita"
              showIcon="true"
              [touchUI]="isTouchDevice()"
              (onSelect)="onSelect($event)"
              [ngClass]="{'invalid':!isValid}"
              (onInput)="onSelect($event)"
              [readonlyInput]="true"
              ng-init="onLoad()"
              #calendarComponenet

  ></p-calendar>
