<p-calendar   id="calendar"
              [(ngModel)] = "birthDate"
              [monthNavigator]="true"
              [yearNavigator]="true"
              yearRange="{{'1935:'+( currentYear | date:'yyyy')}}"
              [maxDate]="currentYear"
              [locale]="it" dateFormat="dd/mm/yy"
              placeholder="Data di nascita"
              showIcon="true"
              [touchUI]="isTouchDevice()"
              (onSelect)="onSelect($event)"
              [ngClass]="{'invalid':!isValid}"
              (onInput)="onSelect($event)"
              [readonlyInput]="true"
              ng-init="onLoad()"

  ></p-calendar>
