#sbmtBtn{

  width: 100px;
  margin: auto;
}

#sbmtBtnDiv{

  display: flex;
  justify-content: center;
  margin: 80px 0 0 0;
}
 .inputIntestation{

   display: flex;
   position: relative;

 }

.errorContainer{
  max-width: 350px;
  align-self: flex-end;
  color: red;
  position: absolute;
  right: 0px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.errorIcon{
  position: relative;
  left: -10px;
  bottom: -2px;
}

.error {

}


.invalid{
  display: block;
  border: 1px solid red;
  border-radius: 3.5px;
}

#successModalCloseBtn {
  outline:none;
}

#formSucessBtnContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
  outline: none;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}

select::-ms-expand {
  display: none;
}
